* {
  font-family: 'Noto Sans Mono', monospace;
}

html, body {
  height: 100%;
  line-height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.parallax1 {
  background: url(images/zz.jpg);
  min-height: 100%;
}

.parallax2 {
  background: url(images/bb.jpeg);
  min-height: 100%;
}

.parallax3 {
  background: url(images/cc.jpeg);
  min-height: 100%;
}

.parallax4 {
  background: url(images/aa.jpeg);
  min-height: 100%;
}

.parallax1, .parallax2, .parallax3, .parallax4 {
  position: relative;
  opacity: .75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading {
  position: absolute;
  color: white;
  font-size: 550%;
  top: 68%;
  width: 100%;
  text-shadow: 0 0 10px #000;
  padding-left: 20px;
}

h2 {
  position: absolute;
  color: white;
  top: 87%;
  width: 100%;
  text-shadow: 0 0 10px #000;
  padding-left: 300px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 300%;
    position: absolute;
    color: white;
    top: 70%;
    width: 100%;
    text-shadow: 0 0 10px #000;
    text-align: center;
    padding-left: 0;
  }
  .webdev {
  position: absolute;
  color: white;
  top: 77%;
  width: 100%;
  text-shadow: 0 0 10px #000;
  padding-left: 250px;
  }

}

@media (max-width: 360px) {
  .heading {
    font-size: 200%;
    position: absolute;
    color: white;
    top: 68%;
    width: 100%;
    text-shadow: 0 0 10px #000;
    text-align: center;
    padding-left: 0;
  }
  .webdev {
  position: absolute;
  font-size: 120%;
  color: white;
  top: 76%;
  width: 100%;
  text-shadow: 0 0 10px #000;
  padding-left: 0px;
  text-align: center;
  }

}

.navbar {
  opacity: .75;
}

.footer-basic ul {
  color: white;
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 3px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 0px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  margin:0 5px;
  color:inherit;
  opacity:0.75;
  background-color: white;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

#img {
  width: 37px;
  height: 35px;
}
.col-12 figure .img-fluid {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.col-12 figure:hover .img-fluid {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.nav-link:hover {
  background: gray;
}


#eli::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

#eli:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#eli::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform .3s ease;
}

#eli {
  position: relative;
}

.heading, .webdev {
  color: #fff;
  text-shadow:
      0 0 5px #fff,
      0 0 50px darkgray;
}