* {
  font-family: 'Noto Sans Mono', monospace;
}

html, body {
  height: 100%;
  line-height: 100%;
  overflow-x: hidden;
}

.parallax1 {
  background: url(images/zz.jpg);
  min-height: 100%;
}

.parallax2 {
  background: url(images/bb.jpeg);
  min-height: 100%;
}

.parallax3 {
  background: url(images/cc.jpeg);
  min-height: 100%;
}

.parallax4 {
  background: url(images/aa.jpeg);
  min-height: 100%;
}

.parallax1, .parallax2, .parallax3, .parallax4 {
  position: relative;
  opacity: .75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading {
  position: absolute;
  color: white;
  font-size: 550%;
  top: 68%;
  width: 100%;
  text-shadow: 0 0 10px #000;
  padding-left: 20px;
}

h2 {
  position: absolute;
  color: white;
  top: 87%;
  width: 100%;
  text-shadow: 0 0 10px #000;
  padding-left: 300px;
}

@media (max-width: 768px) {
  .heading {
    font-size: 300%;
    position: absolute;
    color: white;
    top: 70%;
    width: 100%;
    text-shadow: 0 0 10px #000;
    text-align: center;
    padding-left: 0;
  }
  .webdev {
  position: absolute;
  color: white;
  top: 77%;
  width: 100%;
  text-shadow: 0 0 10px #000;
  padding-left: 250px;
  }

}

@media (max-width: 360px) {
  .heading {
    font-size: 200%;
    position: absolute;
    color: white;
    top: 68%;
    width: 100%;
    text-shadow: 0 0 10px #000;
    text-align: center;
    padding-left: 0;
  }
  .webdev {
  position: absolute;
  font-size: 120%;
  color: white;
  top: 76%;
  width: 100%;
  text-shadow: 0 0 10px #000;
  padding-left: 0px;
  text-align: center;
  }

}

.navbar {
  opacity: .75;
}
